<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HRMS</a>
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Leaves</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
