<div class="login-wrapper d-flex justify-content-center align-items-center vh-100">
  <div class="login-card shadow-sm p-4 rounded">
    <div class="text-center mb-4">
      <img src="assets/drogon.jpg" alt="HRMS Logo" class="login-logo mb-3">
      <h3 class="fw-bold">Forgot Password</h3>
      <p class="text-muted">Reset your password here</p>
    </div>

    <!-- <form (ngSubmit)="resetPassword()" #forgotForm="ngForm"> -->
      <form>
      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Enter your Email</label>
        <input type="email" class="form-control" name="email" ngModel required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Send OTP</button>
    </form>

    <div class="text-center mt-3">
      <a routerLink="/login" class="text-decoration-none">Back to Login</a>
    </div>
  </div>
</div>
