<div class="login-wrapper d-flex justify-content-center align-items-center vh-100">
  <div class="login-card shadow-sm p-4 rounded">
    <div class="text-center mb-4">
      <!-- <img src="assets/drogon.jpg" alt="HRMS Logo" class="login-logo mb-3"> -->
      <h3 class="fw-bold">Create Account</h3>
      <p class="text-muted">Join HRMS Portal</p>
    </div>

    <!-- <form (ngSubmit)="register()" #registerForm="ngForm"> -->
    <form (ngSubmit)="register()">
      <!-- Full Name -->
      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" name="fullname" [(ngModel)]="username" required>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
      </div>

      <!-- Error -->
      <div *ngIf="errorMessage" class="alert alert-danger py-2">
        {{ errorMessage }}
      </div>


      <!-- Confirm Password -->
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>

      <div *ngIf="successMessage" class="alert alert-success py-2">
        {{ successMessage }}
      </div>


      <button type="submit" class="btn btn-primary w-100">Create Account</button>
    </form>

    <div class="text-center mt-3">
      <a routerLink="/login" class="text-decoration-none">Already have an account? Login</a>
    </div>
  </div>
</div>